.blog__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.blog__col-1 {
  position: relative;
}

.blog__text-content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 3;
}

.blog__overlay {
  position: absolute;
  background-color: var(--color-black-transparent);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.blog__text {
  font-family: var(--font-family);
  color: var(--color-white);
}

.blog__col-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.blog__col-content-wrapper img {
  border-radius: 8px;
  margin-top: 1rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .blog__col-content-wrapper img {
    width: 500px;
    height: 400px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .blog__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .blog__col-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 2rem;
  }

  .blog__col-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .blog__col-content-wrapper img {
    width: 230px;
    height: 120px;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
