.contact {
  margin-top: 5rem;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 69%) -30%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/public/contact-img.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
