.footer {
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem;
    padding: 0rem 0.5rem;
    margin-bottom: 2.5rem;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.875rem;
}


.line-one {
    display: flex;
    width: 100%;
    height: 0.25rem;
    background-color: var(--color-white);
}

.footer-top {
    display: flex;
    color: var(--color-white);
    text-align: start;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    font-family: var(--font-family);
}

.line-two {
    display: flex;
    width: 100%;
    height: 0.063rem;
    background-color: var(--color-white);
}

.fotter-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: rgb(255, 255, 255, 0.6);
}

.social {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .fotter-bottom {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}