.button-uni {
    background-color: var(--color-green);
    font-family: var(--font-family-text);
    font-size: var(--size-lg);
    color: var(--color-black);
    font-weight: 600;
    padding: 1.188rem 3.375rem;
    border-radius: var(--size-xxs);
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    position: relative;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: 
        linear-gradient(to bottom, rgba(0,0,0,44%) -30%, rgba(0,0,0,1) 100%),
        url('/public/image_one.png') center/cover no-repeat;
}

.hero__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 100px;
}

.hero__top span {
    font-family: var(--font-family-text);
    font-size: var(--size-sm);
    font-weight: 500;
    color: var(--color-green);
}

.hero__top h1 {
    font-size: calc(var(--size-8xl) * 1.0416667);
    font-family: var(--font-family);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
}

.hero__top p {
    font-family: var(--font-family-text);
    font-size: var(--size-base);
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 20px;
    max-width: 434px;
}

.hero__end {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
}

.hero__bottom {
    display: flex;
    max-width: 62.5rem;
    width: 100%;
    background-color: var(--color-black-transparent);
    padding: 3.75rem 5.625rem;
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.hero__bottom .hero__bottom__number {
    display: flex;
    flex-direction: column;
    gap: 0.188rem;
    align-items: center;
    justify-content: center;
}

.hero__bottom__number span {
    font-family: var(--font-family);
    font-size: 2.5rem;
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.8px;
}

.hero__bottom__number p {
    font-family: var(--font-family-text);
    font-size: var(--size-sm);
    color: rgb(255, 255, 255, 0.6);
    font-size: var(--size-sm);
}

@media (max-width: 475px) {
  .container {
    max-width: 475px;
  }
  .hero {
    padding: 0px 20px;
  }
  .hero__top {
    align-items: start;
  }

  .hero__top h1 {
    font-size: var(--size-5xl);
    text-align: start;
  }

  .hero__top p {
    text-align: start;
  }

  .hero__bottom {
    padding: 1.35rem 2rem;
    flex-direction: column;

  }

  .hero__bottom__number span {
    font-size: var(--size-2xl);
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .hero {
    padding: 0px 20px;
  }
  .hero__top {
    align-items: start;
  }

  .hero__top h1 {
    font-size: var(--size-6xl);
    text-align: start;
  }

  .hero__top p {
    text-align: start;
  }

  .hero__bottom {
    padding: 1.35rem 2rem;

  }

  .hero__bottom__number span {
    font-size: var(--size-2xl);
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

