.hero {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 69%) -30%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/public/image_one.png") center/cover no-repeat;
}

.hero__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.hero__top span {
  font-size: var(--size-sm);
  font-weight: 500;
  color: var(--color-green);
}

.hero__top p {
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 1.5rem;
  max-width: 430px;
}

.hero__end {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 80px;
}

.hero__bottom {
  display: grid;
  grid-column-start: repeat(1, minmax(0, 1fr));
  width: 100%;
  gap: 1rem;
  background-color: var(--color-black-transparent);
  padding: 3.75rem 5.625rem;
  border: 1px solid rgb(255, 255, 255, 0.6);
  border-radius: 10px;
  align-items: center;
}

.hero__bottom .hero__bottom__number {
  display: flex;
  flex-direction: column;
  gap: 0.188rem;
  align-items: center;
  justify-content: center;
}

.hero__bottom__number span {
  font-family: var(--font-family);
  font-size: 2.5rem;
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.8px;
}

.hero__bottom__number p {
  font-size: var(--size-sm);
  color: rgb(255, 255, 255, 0.6);
  font-size: var(--size-sm);
}

@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .hero__bottom {
    max-width: 1000px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero__bottom {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
