.index {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    width: 100%;
    margin-top: 6.25rem;
    gap: 2.5rem;
    padding: 0rem 1rem;
}

.index-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.index-left-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.info {
    display: flex;
    gap: 0.5rem;
}

.index-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bmi {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stil {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3rem;
    max-width: 350px;
}

.stil-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.number {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.number input[type="number"] {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-family-text);
    padding: 1rem 2.2rem;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.3s ease;
    width: 100%;
}


.number input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.6rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #409915, #b3a9ff);
  outline: none;
  transition: opacity 0.3s;
}


.number input[type="range"]:hover {
  opacity: 0.8;
}


.number input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.25rem; 
  height: 1.25rem;
  border-radius: 50%;
  background: #409915; 
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.stil-right p{
    font-size: 2rem;
}


/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .index-left {
    align-items: center;
  }

  .index-left p {
    text-align: center;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section-gap {
    padding-top: 6rem;
  }

  .index .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .index-left {
    align-items: start;
  }

  .index-left p {
    text-align: start;
    max-width: 500px;
  }


}