.testimonial {
    display: flex;
    width: 100%;
    margin-top: 6.25rem;
    padding: 0rem 0.5rem;
}

.testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
    background-color: var(--color-black-100);
    border-radius: 0.5rem;
    align-items: center;
    max-width: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.people img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.people-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    padding: 0rem 1.5rem;
    margin-bottom: 1rem;
}

.people-text p {
    color: rgb(255, 255, 255, 0.6);
}

.stars {
    display: flex;
    gap: 0.125rem;

}

.people-text h3 {
    font-weight: 400;
}

/* xl */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .testimonial .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}