/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn-cta {
  display: none;
  font-weight: 700;
  background-color: transparent;
  color: var(--color-white);
  padding: 1rem 0.875rem;
  border-radius: 8px;
  border: 1px solid var(--color-white);
}

.button-uni {
  background-color: var(--color-green);
  font-family: var(--font-family-text);
  font-size: var(--size-lg);
  color: var(--color-black);
  font-weight: 600;
  padding: 1.188rem 3.375rem;
  border-radius: var(--size-xxs);
}

.section-gap {
  padding-top: 3.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family);
}

h1 {
  font-size: var(--size-5xl);
  text-align: center;
  font-weight: 500;
}

h2 {
  font-size: var(--size-4xl);
  font-weight: 400;
}

p {
  color: var(--color-white-text);
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  h1 {
    font-size: var(--size-6xl);
  }
  h2 {
    font-size: var(--size-5xl);
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  h1 {
    font-size: var(--size-7xl);
  }

  .btn-cta {
    display: inline-block;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section-gap {
    padding-top: 6rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
